{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h4>
    <img src="{% static 'app/content/logo.png' %}" alt="Logo"  align="right" width="150" height="150">
    В нашем салоне Вы можете воспользоваться услугами парикмахеров по уходу, восстановлению волос, стрижке, а также по окрашиванию, мелированию, тонированию и др. парикмахерские процедуры. Также Вы сможете получить косметологические услуги, сделать маникюр, педикюр, сходить в солярий или сделать прокол вашей мечты.
    Комфортная обстановка, приветливый персонал, высокое качество обслуживания, являются визитной карточкой нашего салона, который поможет Вам отдохнуть и выйти из салона совершенно преобразившимися.
</h4>
<h4> Мы предоставляем большое количество услуг:</h4>
 <div><ul>
<li>маникюр, педикюр, наращивание ногтей;</li>
<li>окрашивание и стрижки любой сложности;</li>
<li>косметологические услуги;</li>
<li>оформление бровей хной/краской;</li>
<li>пирсинг, прокол ушей;</li>
<li>спрей загар;</li>
<li>солярий.</li>
</ul>
</div>       
{% endblock %}
