{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    г. Псков<br />
    Набережная реки Великой<br />
    Дом 4<br />
    <abbr title="Phone">P:</abbr>
    +7-(905)-295-77-75
</address>

<address>
    <strong>Страница вконтакте:</strong>   <a href="https://vk.com/salonmalina">vk.com/salonmalina</a><br />
    <strong>Instagram:</strong> <a href="https://www.instagram.com/accounts/login/?next=/malina_salon_pskov/">www.instagram.com/accounts/login/?next=/malina_salon_pskov</a>
</address>

{% endblock %}
